*{
    margin:0px;
    padding:0px;
}
.d-block{
    height:400px;
}
.card img{
    height:150px;
    width:100px;
}
.card{
    display:flex;
    align-items:center;
}
.card-body{
    display:flex;
    align-items:center;
    flex-direction: column; 
}